html {
    body {
        margin: 0;
        padding: 0;
        background: #fafafa;
        font-family: 'Open Sans', sans-serif;
    }
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

.document {
  width: 50vw;
  margin: 12px auto;
  padding: 0;
}

.hide-content {
  display: none;
}

.show-content {
  display: block;
}

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.modal {
    background-color: white;
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px;
    border-radius:10px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

//font-family: 'Open Sans', sans-serif;
//font-family: 'Gloria Hallelujah', cursive;
